<div style="background-color:rgb(38, 39, 48); padding:15px;">
    <h3>About Urecipy</h3>
    <p>Urecipy is your personal recipe notebook as it allows you to generate the ingredients and
        procedure in proper format from unstructured recipes (in a text or video URL format). The
        application performs processing on given text/speech and makes use of state of the art technology
        to give its users the desired result, so they don't have to waste time in going through 
        whole passages of text or videos. Hope the product is helpful for you!</p>
</div>
<div style="background-color:rgb(38, 39, 48); padding:15px; margin-top:20px;">
    <h3>How it works?</h3>
    <p>Using Urecipy is simple as entering your favourite youtube video URL and getting the required ingredients
        and procedure to make it. The application saves the results for you in the form of both a recipe card
        as well as audio. The different functionalities provided by the application are as under:</p>
    <div>
        <h5>Adding a New Recipe</h5>
        <ol>
            <li>In the selectbox on the left, select the option for Add/Remove Recipes</li>
            <li>Enter the desired URL of the recipe in the Recipe URL prompt and the name with which you want to store the recipe as in your application</li>
            <li>Press the "Add" button when both prompts have been filled with the correct information</li>
            <li>The application will start to process your input, showing a Running icon on the top right</li>
            <li>Once the process is complete, you can select the "View Recipes" option from select box on left menu</li>
            <li>There all your recipes are available in the form of options in a select box</li>
            <li>Choose your processed recipe from the select box to get its recipe card and audio translation.</li>
        </ol>
    </div>
    <div>
        <h5>Removing a Recipe</h5>
        <ol>
            <li>In the selectbox on the left, select the option for Add/Remove Recipes</li>
            <li>Select the remove option from the second selectbox in the left menu</li>
            <li>Enter the name of the recipe you want to remove from your list of recipes</li>
            <li>Press the "Remove" button when the name of the recipe has been correctly entered</li>
            <li>If the recipe exists, the application will remove it from your list alongwith the audio it generated</li>
        </ol>
    </div>
    <div>
        <h5>Searching for your Recipe</h5>
        <ol>
            <li>The Search feature is perhaps the simplest to use for our stored recipes</li>
            <li>In the selectbox on the left, select the option for View Recipes</li>
            <li>The application allows only unique names for each recipe, hence it displays each recipe name in the form of a second select box</li>
            <li>Choose your desired recipe from the selectbox</li>
            <li>The application will render the recipe card for your desired recipe alongwith its audio translation</li>
        </ol>
    </div>
</div>